.info_wrapper {
  background-color: var(--darkgrey);
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 1rem auto;
  box-sizing: border-box;
  border-radius: 1rem;
}
